:root {
  --background-color: rgba(51, 51, 51, 1);
  --text-color: rgba(244, 244, 244, 1);
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: auto;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
}

button {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0.3125rem 0.625rem;
  border: solid 0.125rem rgba(244, 244, 244, 0.2);
  border-radius: 0.75rem;
  cursor: pointer;
  outline: none;
}

button:disabled {
  background-color: rgba(244, 244, 244, 0.2);
  color: rgba(244, 244, 244, 0.5);
  opacity: 0.6;
  cursor: default;
}

@media (hover: none) and (pointer: coarse) {
  button:not(:disabled):hover {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
  }

  button:not(:disabled) {
    cursor: none;
  }
}

button:not(:disabled):hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

button:not(:disabled):active,
button:not(:disabled):hover span {
  transform: scale(0.975);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url("images/buzzwords.svg");
  background-position: center top;
  background-size: contain;
  background-repeat: repeat-y;
  opacity: 0.025;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.info-container {
  text-align: center;
}

.title {
  font-size: clamp(2rem, 4vw, 2.625rem);
  margin: 0.9375rem 0 0.625rem 0;
}

.subtitle {
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  margin: 0 0 1.5625rem 0;
}

.aka {
  vertical-align: super;
  font-size: 0.4em;
}

.icon-title {
  font-size: 1.125rem;
}

.icon-container {
  margin: 0.625rem 0 1.5625rem 0;
}

.icon-link {
  text-decoration: none;
}

.icon {
  display: inline-block;
  color: var(--text-color);
  font-size: 2.25rem;
  margin: 0;
  width: 2.25rem;
  vertical-align: middle;
}

.icon:hover,
.icon:focus,
.icon:active {
  transform: scale(0.9);
}

.trivia-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.625rem;
  margin: 0;
}

.trivia-buttons {
  display: flex;
  justify-content: center;
  gap: 0.3125rem;
  margin-top: 3.25rem;
  margin-bottom: 0.625rem;
}

.trivia-prev-button,
.trivia-next-button {
  font-size: 0.75rem;
  width: 3.125rem;
}

.trivia-answer-button {
  font-size: 0.875rem;
  margin-top: 0.625rem;
}

.trivia-loading {
  font-size: 1.875rem;
  margin-top: 3.125rem;
}

.trivia-question {
  font-style: italic;
  font-size: 1.25rem;
  max-width: 31.25rem;
  margin-bottom: 0.625rem;
}

.trivia-options-grid {
  align-items: start;
  display: grid;
  font-size: 1rem;
  grid-template-rows: repeat(4, auto);
}

.trivia-options-grid .row {
  display: contents;
}

.trivia-options-grid .column {
  display: flex;
  align-items: center;
  padding: 0.3125rem;
}

.trivia-options-grid .column span {
  margin-left: 0.3125rem;
}
