name: deploy
on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - ".github/workflows/deploy.yml"
  workflow_dispatch:
concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      id-token: write
      pages: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Add sitemap
        run: |
          DATE=$(date -u +"%Y-%m-%d")
          sed "s/__BUILD_DATE__/$DATE/" sitemap.template.xml > sitemap.xml
        working-directory: ./src
      - name: Create temp directory
        run: mkdir -p temp/images
      - name: Copy required files
        run: cp -r src/* temp/
      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0
      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: temp
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
