name: health
on:
  workflow_run:
    workflows: ["deploy"]
    types:
      - completed
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:
jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup
        run: chmod +x ./util/health-check.sh
      - name: Health check
        run: ./util/health-check.sh "https://jessekela.com" "Jesse Kela"
