name: lighthouse
on:
  workflow_run:
    workflows: ["deploy"]
    types:
      - completed
  workflow_dispatch:
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run audit
        id: lighthouse
        uses: treosh/lighthouse-ci-action@fcd65974f7c4c2bf0ee9d09b84d2489183c29726 # 12.6.1
        with:
          urls: ${{ vars.URL }}
          runs: 3
          uploadArtifacts: false
          temporaryPublicStorage: true
      - name: Report
        run: |
          LINKS=$(echo '${{ steps.lighthouse.outputs.links }}' | jq -r --arg url "${{ vars.URL }}" '.[$url]')
          echo "[Results]($LINKS)" >> $GITHUB_STEP_SUMMARY
