name: lighthouse
on:
  workflow_run:
    workflows: ["deploy"]
    types:
      - completed
  schedule:
    - cron: "0 21 1 * *"
  workflow_dispatch:
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run audit
        id: lighthouse
        uses: treosh/lighthouse-ci-action@fcd65974f7c4c2bf0ee9d09b84d2489183c29726 # 12.6.1
        with:
          urls: ${{ vars.URL }}
          runs: 3
          uploadArtifacts: false
          temporaryPublicStorage: true
      - name: Report
        run: |
          LINKS=$(echo '${{ steps.lighthouse.outputs.links }}' | jq -r --arg url "${{ vars.URL }}" '.[$url]')
          echo "[Results]($LINKS)" >> $GITHUB_STEP_SUMMARY
      - name: Create json summary
        run: |
          echo '${{ steps.lighthouse.outputs.manifest }}' \
          | jq '.[-1] | {
              performance: (.summary.performance * 100 | round),
              accessibility: (.summary.accessibility * 100 | round),
              best_practices: (.summary["best-practices"] * 100 | round),
              seo: (.summary.seo * 100 | round)
            }' \
          > "${{ runner.temp }}/lighthouse-summary.json"
      - name: Create summary branch and push content
        run: |
          git fetch origin lighthouse-summary
          git checkout lighthouse-summary || git checkout -b lighthouse-summary
          cp -rp ${{ runner.temp }}/lighthouse-summary.json ./
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add lighthouse-summary.json
          git commit -m "Update lighthouse summary" || echo "No changes to commit"
          git push origin lighthouse-summary
